@import "./rose-pine-moon.css";

* {
    border: none;
    font-family: IosevkaTerm Nerd Font;
    font-size: 15px;
    min-height: 25px;
}

window#waybar {
    background: alpha(@base, 0.0);
    margin: 5px;
}

.modules-right {
    padding-left: 5px;
    border-radius: 15px 15px 15px 15px;
    margin-top: 2px;
    background: alpha(@base, 0.4);
}

.modules-center {
    padding: 0 15px;
    margin-top: 2px;
    border-radius: 15px 15px 15px 15px;
    background: alpha(@base, 0.4);
}

.modules-left {
    border-radius: 15px 15px 15px 15px;
    margin-top: 2px;
    background: alpha(@base, 0.4);
}

#battery,
#network,
#pulseaudio,
#power-profiles-daemon,
#workspaces,
#custom-notifications,
#clock {
    padding: 0 5px;
    color: @text;
}

#workspaces button {
    color: @text;
}

tooltip {
    background: alpha(@base, 0.75);
    color: @text;
}
