@import url("colors.css");

* {
    font-family: Fira Code;
    font-size: 14px;
}

window#waybar {
    all: unset;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 0px 8px 0px 8px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    background: alpha(@background, 0.4);
    color: @color7;
}

.modules-left > widget:nth-child(n+1) > * {
    margin: 0px 0px 0px 16px;
}

.modules-left > widget:last-child > * {
    margin: 0px 16px 0px 16px;
}

.modules-right > widget:nth-child(n+1) > * {
    margin: 0px 16px 0px 0px;
}

.modules-right > widget:first-child > * {
    margin: 0px 16px 0px 16px;
}

#workspaces {
    all: unset;
}

#workspaces button {
    color: @color7;
}

#workspaces button:hover {
    background: alpha(@color4, 0.4);
    border: unset;
    transition: unset;
}

#workspaces button.visible {
    background: alpha(@color6, 0.4);
    border: unset;
    transition: unset;
}

tooltip {
    background: @background;
    color: @color7;
}

#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color: @color7;
}

#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}