[init]
	defaultBranch = main

[commit]
	gpgsign = true

[user]
	name = Jason Boutte
	useConfigOnly = true

[safe]
	directory = *

[includeIf "gitdir:~/devel/personal/"]
	path = ~/.gitconfig.personal

[includeIf "gitdir:~/devel/nosign/"]
	path = ~/.gitconfig.nosign

[includeIf "gitdir:~/devel/work/"]
	path = ~/.gitconfig.work
