# This file serves as documentation for config parameters of delta
# style printers. One may copy and edit this file to configure a new
# delta printer. Only parameters unique to delta printers are
# described here - see the "example.cfg" file for description of
# common config parameters.

# DO NOT COPY THIS FILE WITHOUT CAREFULLY READING AND UPDATING IT
# FIRST. Incorrectly configured parameters may cause damage.

# The stepper_a section describes the stepper controlling the front
# left tower (at 210 degrees). This section also controls the homing
# parameters (homing_speed, homing_retract_dist) for all towers.
[stepper_a]
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
step_distance: .0125
endstop_pin: ^!ar2
#position_endstop: 280.0
#arm_length: 239.5
homing_speed: 50

# The stepper_b section describes the stepper controlling the front
# right tower (at 330 degrees).
[stepper_b]
step_pin: ar60
dir_pin: ar61
enable_pin: !ar56
step_distance: .0125
endstop_pin: ^!ar15

# The stepper_c section describes the stepper controlling the rear
# tower (at 90 degrees).
[stepper_c]
step_pin: ar46
dir_pin: ar48
enable_pin: !ar62
step_distance: .0125
endstop_pin: ^!ar19

[extruder]
step_pin: ar26
dir_pin: !ar28
enable_pin: !ar24
step_distance: 0.01052
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ar10
sensor_type: ATC Semitec 104GT-2
sensor_pin: analog13
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 250
min_extrude_temp: 0

[heater_bed]
heater_pin: ar8
sensor_type: NTC 100K beta 3950
#sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
#control: watermark
min_temp: 0
max_temp: 130

# Print cooling fan (omit section if fan not present).
#[fan]
#pin: ar9

[mcu]
serial: /dev/ttyACM1
pin_map: arduino
#baud: 250000

[printer]
kinematics: delta
max_velocity: 1000
max_accel: 3000
max_z_velocity: 800
#minimum_z_position: -5
#delta_radius: 138.9
#   Radius (in mm) of the horizontal circle formed by the three linear
#   axis towers. This parameter may also be calculated as:
#    delta_radius = smooth_rod_offset - effector_offset - carriage_offset
#   This parameter must be provided.

# The delta_calibrate section enables a DELTA_CALIBRATE extended
# g-code command that can calibrate the tower endstop positions and
# angles.
[delta_calibrate]
radius: 50
#   Radius (in mm) of the area that may be probed. This is the radius
#   of nozzle coordinates to be probed; if using an automatic probe
#   with an XY offset then choose a radius small enough so that the
#   probe always fits over the bed. This parameter must be provided.
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#samples: 4
#   The number of times to probe each point.  The probed z-values will
#   be averaged. The default is to probe 1 time.
#sample_retract_dist: 2.0
#   The distance (in mm) to retract between each sample if sampling
#   more than once. The default is 2mm.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [printer]
#*# delta_radius = 143.381199
#*#
#*# [stepper_a]
#*# angle = 210.008948
#*# arm_length = 238.799749
#*# position_endstop = 279.888467
#*#
#*# [stepper_b]
#*# angle = 329.053136
#*# arm_length = 237.722807
#*# position_endstop = 282.285194
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 242.720208
#*# position_endstop = 282.242264
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.221
#*# pid_ki = 0.856
#*# pid_kd = 144.162
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.843
#*# pid_ki = 1.304
#*# pid_kd = 935.020
#*#
#*# [delta_calibrate]
#*# height0 = 0.0
#*# height0_pos = 22528.000,22528.000,22528.000
#*# height1 = 0.0
#*# height1_pos = 24479.000,24479.000,20443.000
#*# height2 = 0.0
#*# height2_pos = 21645.000,25822.000,21645.000
#*# height3 = 0.0
#*# height3_pos = 20493.000,24094.000,24094.000
#*# height4 = 0.0
#*# height4_pos = 21727.000,21727.000,24890.000
#*# height5 = 0.0
#*# height5_pos = 23925.000,20755.000,23925.000
#*# height6 = 0.0
#*# height6_pos = 25422.000,21761.000,21761.000
#*# distance0 = 50.17
#*# distance0_pos1 = 22140.767,22680.948,22764.306
#*# distance0_pos2 = 19923.652,24915.557,25001.063
#*# distance1 = 50.38
#*# distance1_pos1 = 22239.405,22474.815,22868.434
#*# distance1_pos2 = 21305.535,21584.884,27043.781
#*# distance2 = 49.69
#*# distance2_pos1 = 22445.457,22372.903,22764.306
#*# distance2_pos2 = 24623.390,20155.327,25001.063
#*# distance3 = 49.99
#*# distance3_pos1 = 22552.990,22475.062,22558.171
#*# distance3_pos2 = 26727.563,21588.496,21669.921
#*# distance4 = 50.28
#*# distance4_pos1 = 22452.306,22681.199,22456.136
#*# distance4_pos2 = 24747.540,24920.103,20238.559
#*# distance5 = 49.13
#*# distance5_pos1 = 22246.163,22785.202,22558.171
#*# distance5_pos2 = 21404.189,26960.547,21669.921
#*# distance6 = 49.4
#*# distance6_pos1 = 20098.813,24436.781,24879.079
#*# distance6_pos2 = 21466.888,21456.294,26852.205
#*# distance7 = 49.51
#*# distance7_pos1 = 21502.190,21488.029,26478.700
#*# distance7_pos2 = 24708.183,20214.624,24719.719
#*# distance8 = 50.15
#*# distance8_pos1 = 24509.916,20333.605,24522.063
#*# distance8_pos2 = 26540.722,21750.394,21541.202
#*# distance9 = 48.74
#*# distance9_pos1 = 26167.138,21782.475,21572.824
#*# distance9_pos2 = 24464.912,25001.151,20297.748
#*# distance10 = 50.35
#*# distance10_pos1 = 24262.484,24797.806,20416.728
#*# distance10_pos2 = 21271.916,26768.800,21831.802
#*# distance11 = 50.28
#*# distance11_pos1 = 21300.427,26395.300,21863.998
#*# distance11_pos2 = 19979.882,24634.263,25082.245
