# This file serves as documentation for config parameters of delta
# style printers. One may copy and edit this file to configure a new
# delta printer. Only parameters unique to delta printers are
# described here - see the "example.cfg" file for description of
# common config parameters.

# DO NOT COPY THIS FILE WITHOUT CAREFULLY READING AND UPDATING IT
# FIRST. Incorrectly configured parameters may cause damage.

# The stepper_a section describes the stepper controlling the front
# left tower (at 210 degrees). This section also controls the homing
# parameters (homing_speed, homing_retract_dist) for all towers.
[stepper_a]
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
step_distance: .0125
endstop_pin: ^!ar2
#position_endstop: 300.0
#arm_length: 239.5
homing_speed: 50

# The stepper_b section describes the stepper controlling the front
# right tower (at 330 degrees).
[stepper_b]
step_pin: ar60
dir_pin: ar61
enable_pin: !ar56
step_distance: .0125
endstop_pin: ^!ar15

# The stepper_c section describes the stepper controlling the rear
# tower (at 90 degrees).
[stepper_c]
step_pin: ar46
dir_pin: ar48
enable_pin: !ar62
step_distance: .0125
endstop_pin: ^!ar19

[extruder]
step_pin: ar26
dir_pin: !ar28
enable_pin: !ar24
step_distance: 0.01052
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ar10
sensor_type: NTC 100K beta 3950
sensor_pin: analog13
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 250
min_extrude_temp: 0

[heater_bed]
heater_pin: ar8
sensor_type: NTC 100K beta 3950
sensor_pin: analog14
#control = pid
#pid_kp = 69.843
#pid_ki = 1.304
#pid_kd = 935.020
min_temp: 0
max_temp: 130

[fan]
pin: ar9

[mcu]
serial: /dev/ttyACM0
pin_map: arduino

[printer]
kinematics: delta
max_velocity: 1000
max_accel: 3000
max_z_velocity: 800
minimum_z_position: -5
#delta_radius: 138.9
#   Radius (in mm) of the horizontal circle formed by the three linear
#   axis towers. This parameter may also be calculated as:
#    delta_radius = smooth_rod_offset - effector_offset - carriage_offset
#   This parameter must be provided.

[delta_calibrate]
radius: 50
#   Radius (in mm) of the area that may be probed. This is the radius
#   of nozzle coordinates to be probed; if using an automatic probe
#   with an XY offset then choose a radius small enough so that the
#   probe always fits over the bed. This parameter must be provided.
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#samples: 4
#   The number of times to probe each point.  The probed z-values will
#   be averaged. The default is to probe 1 time.
#sample_retract_dist: 2.0
#   The distance (in mm) to retract between each sample if sampling
#   more than once. The default is 2mm.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [printer]
#*# delta_radius = 148.558397
#*#
#*# [stepper_a]
#*# angle = 209.739219
#*# arm_length = 239.202415
#*# position_endstop = 301.646597
#*#
#*# [stepper_b]
#*# angle = 329.495849
#*# arm_length = 238.073030
#*# position_endstop = 303.904002
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 238.593954
#*# position_endstop = 306.580435
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.116
#*# pid_ki = 0.862
#*# pid_kd = 141.821
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.843
#*# pid_ki = 1.606
#*# pid_kd = 759.540
#*#
#*# [delta_calibrate]
#*# height0 = 0.0
#*# height0_pos = 24152.000,24293.000,24529.000
#*# height1 = 0.0
#*# height1_pos = 26253.000,26458.000,22181.000
#*# height2 = 0.0
#*# height2_pos = 23167.000,28056.000,23572.000
#*# height3 = 0.0
#*# height3_pos = 21989.000,26109.000,26367.000
#*# height4 = 0.0
#*# height4_pos = 23341.000,23444.000,27249.000
#*# height5 = 0.0
#*# height5_pos = 25752.000,22342.000,26100.000
#*# height6 = 0.0
#*# height6_pos = 27376.000,23411.000,23628.000
#*# distance0 = 49.05
#*# distance0_pos1 = 23916.126,24443.554,24624.117
#*# distance0_pos2 = 21602.835,26766.368,26949.816
#*# distance1 = 48.9
#*# distance1_pos1 = 24020.482,24228.777,24732.677
#*# distance1_pos2 = 23057.320,23288.891,29116.590
#*# distance2 = 48.52
#*# distance2_pos1 = 24235.222,24122.690,24624.117
#*# distance2_pos2 = 26527.688,21809.263,26949.816
#*# distance3 = 48.99
#*# distance3_pos1 = 24345.694,24229.106,24409.338
#*# distance3_pos2 = 28729.368,23293.669,23471.676
#*# distance4 = 49.01
#*# distance4_pos1 = 24239.057,24443.887,24303.086
#*# distance4_pos2 = 26597.891,26772.470,21989.658
#*# distance5 = 48.3
#*# distance5_pos1 = 24024.263,24552.280,24409.338
#*# distance5_pos2 = 23112.298,28936.192,23471.676
#*# distance6 = 48.32
#*# distance6_pos1 = 21787.711,26266.304,26824.680
#*# distance6_pos2 = 23225.861,23156.392,28913.005
#*# distance7 = 48.9
#*# distance7_pos1 = 23262.737,23191.027,28517.141
#*# distance7_pos2 = 26616.292,21871.362,26654.971
#*# distance8 = 48.9
#*# distance8_pos1 = 26407.387,21995.942,26449.445
#*# distance8_pos2 = 28528.489,23462.538,23339.004
#*# distance9 = 48.32
#*# distance9_pos1 = 28132.552,23497.529,23373.490
#*# distance9_pos2 = 26302.253,26858.863,22051.615
#*# distance10 = 48.86
#*# distance10_pos1 = 26094.002,26646.912,22176.194
#*# distance10_pos2 = 22977.637,28732.373,23640.519
#*# distance11 = 48.56
#*# distance11_pos1 = 23010.401,28336.517,23675.662
#*# distance11_pos2 = 21663.153,26471.593,27036.387
