* {
    font-family: "Iosevka Nerd Font";
    font-size: 11px;
}

.notification-row,
.control-center {
    background: rgba(35, 33, 54, 0.96);
    color: #e0def4;
}

.notification,
.notification-action,
.control-center-list,
.widget-title,
.widget-dnd,
.widget-label,
.widget-buttons-grid,
.widget-backlight,
.widget-volume,
.widget-mpris,
.widget-menubar {
    background: rgba(35, 33, 54, 0.98);
    color: #e0def4;
}

.notification {
    border: 1px solid #524f67;
    border-radius: 6px;
    margin: 8px;
    padding: 10px;
    box-shadow: none;
}

.notification.critical {
    border-color: #eb6f92;
}

.notification-button,
.close-button,
.dnd-button,
.widget-buttons-grid button {
    background: rgba(57, 53, 82, 0.95);
    color: #e0def4;
    border-radius: 6px;
    border: 1px solid rgba(110, 106, 134, 0.4);
}

.notification-button:hover,
.close-button:hover,
.dnd-button:hover,
.widget-buttons-grid button:hover {
    background: #2a273f;
}

.notification-progress {
    background: #c4a7e7;
}

.widget-title,
.widget-label {
    color: #c4a7e7;
}
